--index-url https://download.pytorch.org/whl/cu121
fastapi
uvicorn
ezdxf
google-generativeai
pydantic
python-dotenv
requests
aiohttp
numpy
torch
torchvision
torchaudio
notebook
torchmetrics
tqdm
Pillow
scipy
ifcopenshell
xbim-python
git+https://github.com/VAST-AI-Research/TripoSR.git
git+https://github.com/openai/shap-e.git
rembg
omegaconf
einops
diffusers
transformers
accelerate
open3d
trimesh
